@mixin font-tokens {
  --font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-weight-regular: normal;
  --font-weight-bold: bold;
  --line-height: 1.5;
}
